<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel='shortcut icon' href='../Images/jp_small.png' />
    <meta charset="utf-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="google-site-verification" content="An9jzHYY7Je5pMnvYSSHIl696PIRoL_T46xQjPyTE_w">
    <meta name="google-site-verification" content="AFyoD3TNxTBDB18CJD9OKVvPaH8UMEynV37DxgxZIk8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#315ABE">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}">
  </head>
  <body>
<!--    <a id="skip-to-content" href="#content">Skip to the content.</a>-->

    <header class="page-header" role="banner">
      <img src="../Images/jp.png"
      height="250"
      width="250">

      {% if page.title == site.title %}
        <h1 class="project-name" style="color:#F5F4F4">{{ page.title }}</h1>
        <h2 class="project-tagline" style="color:#E0E0E0">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% else %}
        <h1 class="project-name" style="color:#F5F4F4">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        {% endif %}

<!--            <a href={{ page.filename }} class="btn">{{ page.title }}</a>-->
<!-- <h2 class="project-tagline" style="color:#D7D5D2">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
<!--        {% for page in site.pages %}-->
<!--        {% endfor %}-->
            <a href="index" class="btn" style="color:#E0E0E0">About Me</a>
            <a href="projects" class="btn" style="color:#E0E0E0">Projects</a>
            <a href="research" class="btn" style="color:#E0E0E0">Research</a>
            <a href="contact" class="btn" style="color:#E0E0E0">Contact Me</a>
            <a href="../Images/pdfs/Policarpio_CV_8.30.22.pdf" class="btn" style="color:#E0E0E0" download>Download my CV</a>


        {% if site.github.is_project_page %}
        <!--        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>-->
        {% endif %}
        {% if site.show_downloads %}
        <!--        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>-->
        <!--        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>-->
        {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
<!--        {% if site.github.is_project_page %}-->
<!--          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>-->
<!--        {% endif %}-->
<!--        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>-->
      </footer>
    </main>
  </body>


</html>
